.add-supplier-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fdf7f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: #333;
      font-weight: 500;

      input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease;
      }

      input:focus {
        outline: none;
        border-color: #4CAF50;
      }
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #997c70;
      }

      &:active {
        background-color: #388e3c;
      }
    }
  }

  /* Responsif */
  @media (max-width: 768px) {
    
    padding: 15px;

    h2 {
      font-size: 1.25rem;
    }

    form {
      gap: 10px;

      label {
        font-size: 14px;

        input {
          font-size: 14px;
          padding: 8px;
        }
      }

      button {
        font-size: 14px;
        padding: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    form {
      label {
        font-size: 12px;

        input {
          font-size: 12px;
          padding: 6px;
        }
      }

      button {
        font-size: 12px;
        padding: 8px;
      }
    }
  }
}
