.penjualan {
  display: flex;
  flex-direction: column;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .penjualan-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Pastikan tombol dan ikon sejajar */
    margin-bottom: 20px;

    .add-penjualan-btn {
      background-color: #2c3e50;
      color: #ecf0f1;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: #34495e;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd;

    thead {
      tr {
        background-color: #f4f4f4;

        th {
          padding: 12px;
          font-weight: bold;
          color: #333;
          border-bottom: 2px solid #ccc;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
        &:hover {
          background-color: #f1f1f1;
        }

        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }
      }
    }

    th,
    td {
      text-align: center;
    }
  }

  /* Media queries untuk layar kecil */ 
  @media (max-width: 768px) {
    .penjualan-header {
      flex-direction: column;
      align-items: stretch;

      .add-penjualan-btn {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    table {
      font-size: 14px;

      thead {
        display: none;
      }

      tbody {
        tr {
          display: block;
          margin-bottom: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 10px;

          td {
            display: flex;
            padding: 8px 0;
            justify-content: space-between;
            align-items: center;
          }

          td::before {
            content: attr(data-label);
            font-weight: bold;
            width: 50px;
            text-align: left;
            display: inline-block;
          }
        }
      }
    }
  }
}