@use "./components/sidebar";
@use "./pages/login/login";
@use "./components/layout";
@use "./pages/menu/menu";
@use "./pages/menu/tambah-menu";
@use "./pages/pegawai/pegawai";
@use "./pages/penjualan/penjualan";
@use "./pages/penjualan/tambah-penjualan";
@use "./pages/pelanggan/pelanggan";
@use "./pages/pelanggan/tambah-pelanggan";
@use "./pages/pelanggan/update-pelanggan";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




  
