@use "./components/sidebar";
@use "./pages/login/login";
@use "./components/layout";
@use "./pages/menu/menu";
@use "./pages/menu/tambah-menu";
@use "./pages/pegawai/pegawai";
@use "./pages/penjualan/penjualan";
@use "./pages/penjualan/tambah-penjualan";
@use "./pages/register/regist";
@use "./pages/listpeg/listpeg";
@use "./pages/menu/edit_menu";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




  
