@use "./components/sidebar";
@use "./pages/dashboard";
@use "./pages/login";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    overflow: hidden auto;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FDF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  
